In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(r'C:\Users\win10\Downloads\health care diabetes.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data['Age_new'] =

In [10]:
data['Age']<25

0      False
1      False
2      False
3       True
4      False
       ...
763    False
764    False
765    False
766    False
767     True
Name: Age, Length: 768, dtype: bool

In [13]:
age = []
for i  in data['Age']:
    if i>=20 and i<=25:
        age.append('20-25')
    elif i>=25 and i<=30:
         age.append('25-30')
    elif i>=30 and i<=35:
         age.append('30-35') 
    elif i>=35 and i<=40:
         age.append('35-40')        
    elif i>=40 and i<=45:
         age.append('40-45')
    elif i>=45 and i<=50:
         age.append('45-50')             
    elif i>=50 and i<=55:
         age.append('50-55') 
    elif i>=55 and i<=60:
         age.append('55-60') 
    elif i>=60 and i<=65:
         age.append('60-65')
    elif i>=65 and i<=70:
         age.append('65-70')  
    elif i>=70 and i<=75:
         age.append('70-75') 
    elif i>=75 and i<=80:
         age.append('75-80')  
    elif i>=80 and i<=85:
         age.append('80-85')

In [15]:
print(age)

['45-50', '30-35', '30-35', '20-25', '30-35', '25-30', '25-30', '25-30', '50-55', '50-55', '25-30', '30-35', '55-60', '55-60', '50-55', '30-35', '30-35', '30-35', '30-35', '30-35', '25-30', '45-50', '40-45', '25-30', '50-55', '40-45', '40-45', '20-25', '55-60', '35-40', '55-60', '25-30', '20-25', '25-30', '40-45', '30-35', '30-35', '45-50', '25-30', '55-60', '25-30', '35-40', '45-50', '50-55', '35-40', '20-25', '25-30', '20-25', '30-35', '20-25', '20-25', '25-30', '25-30', '55-60', '40-45', '20-25', '40-45', '30-35', '40-45', '20-25', '20-25', '35-40', '35-40', '20-25', '40-45', '30-35', '35-40', '50-55', '20-25', '25-30', '25-30', '25-30', '40-45', '20-25', '20-25', '20-25', '40-45', '25-30', '25-30', '20-25', '20-25', '20-25', '35-40', '20-25', '35-40', '25-30', '40-45', '25-30', '40-45', '20-25', '20-25', '30-35', '40-45', '55-60', '20-25', '35-40', '20-25', '20-25', '20-25', '30-35', '30-35', '20-25', '20-25', '20-25', '25-30', '20-25', '25-30', '35-40', '20-25', '20-25', '20-25', '45-50', '20-25', '20-25', '35-40', '60-65', '35-40', '20-25', '20-25', '20-25', '20-25', '20-25', '20-25', '65-70', '20-25', '25-30', '25-30', '20-25', '35-40', '60-65', '30-35', '30-35', '25-30', '35-40', '25-30', '30-35', '20-25', '20-25', '25-30', '25-30', '50-55', '35-40', '20-25', '40-45', '20-25', '20-25', '40-45', '30-35', '60-65', '20-25', '20-25', '35-40', '40-45', '20-25', '40-45', '35-40', '20-25', '20-25', '20-25', '45-50', '35-40', '40-45', '25-30', '20-25', '30-35', '40-45', '20-25', '30-35', '25-30', '25-30', '35-40', '25-30', '20-25', '20-25', '30-35', '35-40', '40-45', '25-30', '45-50', '35-40', '30-35', '20-25', '20-25', '25-30', '35-40', '40-45', '55-60', '30-35', '30-35', '20-25', '20-25', '35-40', '35-40', '35-40', '40-45', '25-30', '20-25', '20-25', '25-30', '25-30', '20-25', '25-30', '30-35', '25-30', '50-55', '25-30', '55-60', '50-55', '20-25', '40-45', '20-25', '20-25', '55-60', '20-25', '35-40', '35-40', '20-25', '30-35', '30-35', '40-45', '20-25', '65-70', '35-40', '60-65', '25-30', '20-25', '25-30', '20-25', '30-35', '20-25', '20-25', '45-50', '20-25', '25-30', '20-25', '25-30', '50-55', '20-25', '30-35', '25-30', '20-25', '20-25', '20-25', '30-35', '25-30', '45-50', '40-45', '20-25', '30-35', '20-25', '40-45', '25-30', '20-25', '20-25', '40-45', '20-25', '25-30', '20-25', '20-25', '50-55', '30-35', '25-30', '20-25', '60-65', '30-35', '40-45', '20-25', '20-25', '20-25', '25-30', '35-40', '20-25', '35-40', '20-25', '50-55', '20-25', '25-30', '20-25', '55-60', '20-25', '25-30', '35-40', '35-40', '45-50', '50-55', '50-55', '30-35', '25-30', '25-30', '30-35', '20-25', '20-25', '30-35', '20-25', '60-65', '25-30', '25-30', '20-25', '45-50', '55-60', '25-30', '20-25', '30-35', '25-30', '35-40', '25-30', '45-50', '20-25', '20-25', '25-30', '40-45', '20-25', '25-30', '20-25', '40-45', '25-30', '25-30', '25-30', '25-30', '55-60', '30-35', '20-25', '35-40', '40-45', '20-25', '20-25', '25-30', '35-40', '20-25', '35-40', '45-50', '20-25', '40-45', '40-45', '20-25', '25-30', '40-45', '40-45', '30-35', '40-45', '20-25', '35-40', '20-25', '30-35', '55-60', '45-50', '20-25', '20-25', '25-30', '35-40', '25-30', '25-30', '45-50', '20-25', '20-25', '45-50', '25-30', '40-45', '45-50', '25-30', '25-30', '60-65', '60-65', '65-70', '25-30', '25-30', '25-30', '20-25', '20-25', '40-45', '20-25', '20-25', '20-25', '20-25', '25-30', '55-60', '20-25', '20-25', '30-35', '30-35', '20-25', '20-25', '20-25', '20-25', '20-25', '20-25', '30-35', '40-45', '55-60', '25-30', '40-45', '25-30', '20-25', '35-40', '30-35', '20-25', '35-40', '20-25', '20-25', '20-25', '30-35', '50-55', '30-35', '35-40', '40-45', '25-30', '45-50', '20-25', '35-40', '25-30', '25-30', '20-25', '20-25', '20-25', '20-25', '20-25', '20-25', '35-40', '25-30', '25-30', '25-30', '20-25', '20-25', '20-25', '35-40', '30-35', '20-25', '35-40', '25-30', '40-45', '20-25', '35-40', '20-25', '25-30', '35-40', '25-30', '40-45', '25-30', '20-25', '30-35', '40-45', '20-25', '20-25', '30-35', '25-30', '20-25', '25-30', '25-30', '20-25', '25-30', '20-25', '20-25', '20-25', '70-75', '20-25', '35-40', '60-65', '20-25', '50-55', '80-85', '45-50', '25-30', '35-40', '35-40', '30-35', '20-25', '20-25', '20-25', '35-40', '25-30', '25-30', '20-25', '20-25', '45-50', '20-25', '55-60', '25-30', '30-35', '35-40', '60-65', '30-35', '25-30', '25-30', '20-25', '30-35', '20-25', '20-25', '55-60', '25-30', '65-70', '20-25', '40-45', '30-35', '40-45', '20-25', '65-70', '25-30', '20-25', '50-55', '35-40', '20-25', '25-30', '40-45', '40-45', '35-40', '35-40', '30-35', '20-25', '20-25', '60-65', '45-50', '20-25', '55-60', '20-25', '20-25', '25-30', '50-55', '50-55', '40-45', '55-60', '20-25', '25-30', '25-30', '40-45', '20-25', '20-25', '20-25', '20-25', '20-25', '30-35', '20-25', '20-25', '25-30', '30-35', '20-25', '20-25', '45-50', '65-70', '20-25', '30-35', '40-45', '25-30', '55-60', '20-25', '25-30', '35-40', '50-55', '25-30', '45-50', '35-40', '20-25', '20-25', '65-70', '20-25', '25-30', '35-40', '25-30', '55-60', '40-45', '30-35', '50-55', '25-30', '20-25', '30-35', '25-30', '20-25', '20-25', '45-50', '35-40', '30-35', '35-40', '20-25', '20-25', '20-25', '20-25', '20-25', '30-35', '20-25', '35-40', '60-65', '20-25', '25-30', '60-65', '40-45', '50-55', '20-25', '40-45', '25-30', '50-55', '20-25', '40-45', '20-25', '40-45', '20-25', '30-35', '20-25', '45-50', '20-25', '35-40', '25-30', '20-25', '25-30', '25-30', '50-55', '35-40', '20-25', '20-25', '20-25', '25-30', '20-25', '20-25', '35-40', '35-40', '25-30', '45-50', '25-30', '25-30', '20-25', '45-50', '20-25', '25-30', '25-30', '40-45', '20-25', '20-25', '25-30', '20-25', '20-25', '40-45', '20-25', '30-35', '20-25', '20-25', '20-25', '30-35', '35-40', '45-50', '20-25', '30-35', '25-30', '25-30', '20-25', '45-50', '30-35', '25-30', '25-30', '30-35', '20-25', '40-45', '20-25', '20-25', '25-30', '25-30', '25-30', '20-25', '20-25', '20-25', '40-45', '50-55', '25-30', '50-55', '20-25', '40-45', '35-40', '35-40', '20-25', '65-70', '35-40', '40-45', '40-45', '45-50', '20-25', '45-50', '20-25', '65-70', '30-35', '50-55', '20-25', '20-25', '20-25', '20-25', '25-30', '20-25', '25-30', '65-70', '20-25', '20-25', '25-30', '20-25', '45-50', '30-35', '40-45', '20-25', '40-45', '20-25', '40-45', '30-35', '20-25', '25-30', '25-30', '25-30', '45-50', '50-55', '40-45', '25-30', '25-30', '25-30', '20-25', '40-45', '20-25', '20-25', '35-40', '35-40', '20-25', '30-35', '30-35', '30-35', '55-60', '20-25', '50-55', '30-35', '20-25', '40-45', '40-45', '40-45', '35-40', '20-25', '20-25', '20-25', '20-25', '30-35', '20-25', '20-25', '20-25', '50-55', '25-30', '20-25', '40-45', '20-25', '40-45', '45-50', '25-30', '20-25', '40-45', '35-40', '45-50', '25-30', '30-35', '35-40', '45-50', '20-25', '25-30', '20-25', '25-30', '40-45', '35-40', '35-40', '50-55', '25-30', '65-70', '20-25', '40-45', '30-35', '60-65', '25-30', '25-30', '45-50', '20-25']

In [14]:
data['Age_new']=age 
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_new
0,6,148,72,35,0,33.6,0.627,50,1,45-50
1,1,85,66,29,0,26.6,0.351,31,0,30-35
2,8,183,64,0,0,23.3,0.672,32,1,30-35
3,1,89,66,23,94,28.1,0.167,21,0,20-25
4,0,137,40,35,168,43.1,2.288,33,1,30-35
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,60-65
764,2,122,70,27,0,36.8,0.340,27,0,25-30
765,5,121,72,23,112,26.2,0.245,30,0,25-30
766,1,126,60,0,0,30.1,0.349,47,1,45-50
767,1,93,70,31,0,30.4,0.315,23,0,20-25

In [18]:
data.to_csv("new_dataset.csv")

In [1]:
import pandas as pd
data=pd.read_csv(r'C:\Users\win10\Downloads\health care diabetes.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
result=[]
for i in data ['Outcome']:
    if i == 1:
        result.append("diabetic")
    else:
        result.append("non_diabetic")

In [16]:
data['diabetic or non_diabetic']=result
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_new,diabetic or non_diabetic
0,6,148,72,35,0,33.6,0.627,50,1,45-50,diabetic
1,1,85,66,29,0,26.6,0.351,31,0,30-35,non_diabetic
2,8,183,64,0,0,23.3,0.672,32,1,30-35,diabetic
3,1,89,66,23,94,28.1,0.167,21,0,20-25,non_diabetic
4,0,137,40,35,168,43.1,2.288,33,1,30-35,diabetic
...,...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,60-65,non_diabetic
764,2,122,70,27,0,36.8,0.340,27,0,25-30,non_diabetic
765,5,121,72,23,112,26.2,0.245,30,0,25-30,non_diabetic
766,1,126,60,0,0,30.1,0.349,47,1,45-50,diabetic
767,1,93,70,31,0,30.4,0.315,23,0,20-25,non_diabetic

In [17]:
data.to_csv('allinone_dataset.csv')