In [21]:
import pandas as pd
s1=pd.Series([1,2,2,7,"sachin",77.5])
# print(s1.head())
print(s1.head(3))

0    1
1    2
2    2
dtype: object

In [13]:
import pandas as pd
vv=({
    "name":["ajay","saurab","jay"],
    "percentage":[60,65,70],
    "city":["mumbai","calcuta","delhi"]
})
i=pd.DataFrame(vv)
print(i.max())

name          saurab
percentage        70
city          mumbai
dtype: object

In [25]:
import pandas as pd
hello=({
    "name":["zanjeev","keshav","rahul"],
    "age":[37,42,38],
    "designation":["manager","cleak","accountant"]
})
Order=pd.DataFrame(hello)
xx=Order.sort_values(by='name',ascending=True)
xx

      name  age designation
1   keshav   42       cleak
2    rahul   38  accountant
0  zanjeev   37     manager

In [31]:
import pandas as pd
xx=({
    "one":[20,25,30,50,20],
    "two":[33,20,15,20,50]
})
aa=pd.DataFrame(xx)
print (aa["one"].sum())
aa

145

   one  two
0   20   33
1   25   20
2   30   15
3   50   20
4   20   50

In [ ]:
import pandas as pd
data=pd.DataFrame{"amit":50,"john":30}